<div class="container">

    <header class="header">
      <h1>Online Store</h1>
  
      <div class="categories">
        @for (c of categories; track c.id) {
          <button
            class="cat-btn"
            [class.active]="selectedCategoryId === c.id"
            (click)="selectCategory(c.id)"
          >
            {{ c.name }}
          </button>
        }
      </div>
    </header>
  
    @if (selectedCategoryId === null) {
        <p class="welcome">Please select a category</p>
      } @else {
        <app-product-list
          [products]="filteredProducts"
          (deleteFromStore)="deleteProductFromStore($event)">
        </app-product-list>
      }
  
  </div>