@if (loading) {
    <p>Loading photos...</p>
  } @else if (error) {
    <p class="error">{{ error }}</p>
  } @else {
    <h1>Album {{ albumId }} Photos</h1>
  
    <div class="grid">
      @for (photo of photos; track photo.id) {
        <div class="card">
            <img
            [src]="photo.thumbnailUrl"
            [alt]="photo.title"
            (error)="onImgError($event, photo.id)"
          />
          <p>{{ photo.title }}</p>
        </div>
      }
    </div>
  
    <button class="back" (click)="back()">Back</button>
  }