<div class="card">
  <a class="img-link" [href]="product.link" target="_blank" rel="noopener">
    <img class="main-img" [src]="product.image" [alt]="product.name">
  </a>

  <div class="body">
    <h3 class="title">{{ product.name }}</h3>

    <p class="desc">
      {{ product.description }}
    </p>

    <div class="row">
      <strong class="price">{{ product.price | number }} ₸</strong>

      <div class="rating">
        @for (s of stars(); track s) {
          <span class="star" [class.filled]="product.rating >= s">★</span>
        }
      </div>
    </div>

    <div class="likes">❤ {{ product.likes }}</div>

    <div class="actions">
      <button class="btn" (click)="like()">Like</button>
      <button type="button" class="btn" (click)="delete()">Delete</button>      
      <button class="btn" (click)="shareWhatsApp()">WhatsApp</button>
      <button class="btn" (click)="shareTelegram()">Telegram</button>
    </div>
  </div>
</div>