.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  column-gap: 15px;  
  row-gap: 28px;   
  align-items: stretch;
}

@media (max-width: 1100px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}
@media (max-width: 800px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 500px) {
  .grid { grid-template-columns: 1fr; }
}

.empty {
  text-align: center;
  margin-top: 20px;
}