body{
    background-color: #f0f2f5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;

}
.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 396px;
}
.card{
    max-width: 396px;
    padding:16px;
    width:90%;
    min-height: 320px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
input{
    font-size: 16px;
    height: 52px;
    line-height: 24px;
    padding: 14px 16px;
    width:100%;
    color:rgb(29, 33, 41);
    box-sizing:border-box;
    margin-bottom:10px;
    border-radius: 6px;
    border: 1px solid #dddfe2;

}
.btn{
    font-size: 20px;
    font-weight: 700;
    width:100%;
    cursor:pointer;
    border: none;
    transition-property: background-color, box-shadow;
    height:40px;
    border-radius:6px;
}
.btn-login{
    height: 48px;
    background-color: rgb(8, 102, 255);
    color:white;
    margin-top:4px;
}
.btn-login:hover{
    background-color: #166fe5;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.link{
    font-size: 14px;
    font-weight: 500;
    margin: 14px 0 10px 0;
    display:block;
    text-decoration: none;
    text-align: center;
    color:rgb(8, 102, 255);
}
.link:hover{ text-decoration: underline; }
.btn-create{
    width: 70%;
    height: 48px;
    margin-top: 33px;
    margin-left: 57px;
    display: block;
    background-color: rgb(66, 183, 42);
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.btn-create:hover{
    background-color: rgb(79, 141, 17);
    box-shadow: 0 4px 10px rgba(0,0,0,0.10);
}
.footer-text{
    width:396px;
    margin-top: 20px;
    font-size: 14px;
    color: rgb(29, 33, 41);
    text-align: center;
}
hr{
    border:none;
    margin:12px 0;
    border-top:1px solid #e3e7ee;
}

.layout{
    display: flex;
    align-items: center;
    gap: 60px;
}

.intro{
    height: 300px;
    max-width: 500px;
}

.logo{
    height: 106px;
    margin: -28px;
}
.subtitle{
    font-family: SFProDisplay-Regular,Helvetica,Arial,sans-serif;
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    padding: 0 0 20px;
    color: #1c1e21;
    width: 500px;
}
